.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.home-container {
    display: flex;
    flex: 1; 
    overflow: hidden; /* Prevent content from overflowing outside of this container */
}
  
.notes-panel {
    flex: 1; 
    max-width: 33.33%; 
    padding: 15px;
    border-right: .5px solid #ccc; 
    overflow-y: auto; /* Makes it scrollable if content overflows */
    height: 100%;
    background-color: #000;
    color: #fff; 
}
  
.summarizer-panel {
    flex: 2;
    padding: 15px;
    height: 100%;
    background-color: #171717;
    color: white;
}
  