.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #371f5b; 
    color: white;
    height: 10%;
}

.navbar .name {
    font-family: "Graduate", serif;
    font-size: 38px;
    font-weight: bold;
    cursor: default;
}

.logout-button {
    background-color: #009b5b;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    height: 80%;
    width: 10%;
}

.logout-button:hover {
    background-color: #d14327;
}
